footer {
    text-align: center;
    margin: ($spacer * 2) 0;

    .top {
        margin-bottom: $spacer;
        width: 100%;
        position: relative;

        &:after {
            content: '';
            height: 1px;
            width: 250px;
            background-color: $heading-primary;
            position: absolute;
            left: 40px;
            right: 40px;
            top: 15px;
            margin: 0 auto;
            z-index: -1;
            transition: width .5s;
            transition-delay: .2s;
            transition-timing-function: ease-in-out;
        }
    }

    .logo {
        background: $white;
        display: block;
        margin: 0 auto;
        width: 300px;
        color: $heading-primary;
        font-size: $font-size-sm;
        text-transform: uppercase;
        transform:scale(.7);
        transition: all .5s;
        transition-delay: .2s;

        strong {
            font-size: $font-size-lg;
        }
    }

    .socials {
        margin: $spacer * 2;
        padding: 0;
        list-style: none;
        
        li {
            display: inline-block;
            font-size: $font-size-xl * 1.25;
            transform:scale(.1);
            margin: 0 $spacer / 2;
            transition: all .5s;
            transition-delay: .2s;
        }

        a {
            color: $heading-primary;
            transition: all .3s;

            &:hover {
                color: $primary;
            }
        }
    }

    small {
        opacity: 0;
        transition: all 2s;
        transition-delay: .5s;
    }

    &.visible {
        .top:after {
            width: calc(100% - 80px);
        }

        .socials li {
            transform:scale(1);
            margin: 0 $spacer;
        }

        .logo {
            transform:scale(1);
        }

        small {
            opacity: 1;
        }
        
    }

    @include media-breakpoint-down(sm) {
        .logo {
            width: 170px;
        }
    }
}